// Define variables for your color scheme
$background-color: #F9F7F2;
$text-color: #272626;
$light-blue: #BBC9CA;
$peach: #F2CFB5;



// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
