.text-center {
  color: #272626;
}

.artwork-title {
  text-align: center;
  position: center;
  margin-top: 25px;
  margin-bottom: 16px;
}

.artwork-info-container {
  align-self: flex-start;
  margin-right: 40px;
  flex-grow: 1;
  margin-top: 45px;
}

.artimage {
  height: 510px;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  object-position: center;
}

.artdescription {
  content-align: center;
  margin-top: 45px;
  width: auto;
  text-align: left;
  flex-grow: 1;
}

.artinfo-card {
  margin-top: 40px;
  margin-bottom: 100px;
  width: 330px;
  height: 480px;
  text-align: center;
  padding-top: 15px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  vertical-align: center;
  background-color: white;
  color: #272626;
  position: sticky;
  top: 16px;
  align-self: flex-start;
}

#icon-fact {
  margin-top: 8px;
  font-size: 16px;
}

.buybanner {
  padding: 20px;
  margin-top: 25px;
  width: 330px;
  height: 80px;
  content-align: center;
  vertical-align: center;
  background-color: #272626;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  color: yellow;
}

#artfacts {
  display: flex;
  justify-content: space-between;
  color: #272626;
  font-size: 30px;
  margin-top: 27px;
  width: 340px;
  padding-left: 85px;
  padding-right: 85px;
}

.fa-heart .fa-eye {
  padding: 0px;
}

#artfacts-text {
  font-size: 16px;
}

#arttitle {
  margin-bottom: 16px;
  margin-top: 16px;
  font-size: 24px;
}

span.carousel-control-next-icon {

}

button {
  border: none;
  background-color: transparent;
  font-size: 25px;
  &:hover {
    color: red;
    transition: 0.3s;
  }
}

.username-link:hover{
  color:white;
  letter-spacing: 4px;
  text-decoration: underline
}
