// Specific CSS for your home-page
.background-container {
  background: asset-url('background-landing.jpg');
  object-fit: cover;
  padding: none;
}

.container {
  margin-top: 40px;
  justify-content: center;
  padding: none;
  border: 1px solid black;
}

#titles-home {
  text-align: center;
  margin-bottom: 40px;
  padding: none;
  border: 1px solid black;
}

#more-titles-home {
  position: relative;
  border: 1px solid black;
  margin-bottom: 40px;
  padding: none;
  align-item: flex-start;
  display: blocK;
}

.more-info-container {
  width: 100%;
  height: 400px;
  border-radius: 3px;
  display: flex;
  align-items: space-between;
  margin-bottom: 40px;
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-item: center;
  border: 1px solid black;
  text-align: center;
}

.more-info-card{
  flex-grow: 1;
  margin: 25px;
  width: 45%;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.more-info-button {
  border: 3px solid transparent;
  border-radius: 3px;
  padding: 16px;
  color: white;
  font-size: 20px;
  font-weight: medium;
  &:hover {
    transition: 0.3s;
    color: yellow;
    border-color: yellow;
  }
}
