// Specific CSS for your home-page
.background-container {
  background: asset-url('background-landing.jpg');
  object-fit: cover;
  padding: none;
}

.container-home {
  margin-bottom: 90px;
  justify-content: center;
  padding: none;
  align-items: center;
}

.element-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#titles-home {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
  padding: none;
}

.more-info-button {
  border: 3px solid transparent;
  border-radius: 3px;
  padding: 16px;
  color: white;
  font-size: 24px;
  font-weight: medium;
  &:hover {
    transition: 0.3s;
    color: yellow;
    border-color: yellow;
  }
}
