// Import page-specific CSS files here.
@import "home";
@import "artwork";

.card{
  display:flex;
 flex-direction: column;
}

.artworks-banner {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
      background-position: 0px -465px;
}

.artworks-banner-title {
  position: relative;
  margin-left: 50px;
}
