// Import page-specific CSS files here.
@import "home";
@import "artwork";
@import "getstarted";

.card{
  display:flex;
 flex-direction: column;
}

.artworks-banner {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-position: center
}

.artworks-banner-title {
  position: relative;
  margin-left: 50px;
  font-size: 40px;
  color: white;
}

.form-filter {
  width: 100%;
  display: flex;
  justify-content:space-evenly;
  background-color: rgba(39, 38, 38, 0.7);

}

.m-3 {
  border: none;
  height: 70px;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
