
  <div class="d-flex flex-wrap">
    <div class="card-wrapper">
      <div class="card-item">
        <%= image_tag "artwork.png", class:"artwork"%>
      </div>

      <div class="card-info">
        <div class="d-flex justify-content-between">
          <h4 class="artwork-title">Exploration</h4>
          <h4 class="card-price">1.455€</h4>
        </div>
        <h4 class="card-dimensions">Painting, W 80cm x H 80cm</h4>
        <h4 class="card-artist">by Xiaoyang Galas</h4>
      </div>
    </div>
    <div class="card-wrapper">
      <div class="card-item">
        <%= image_tag "landscpe", class:"artwork"%>
      </div>
      <div class="card-info">
        <div class="d-flex justify-content-between">
          <h4 class="artwork-title">Exploration</h4>
          <h4 class="card-price">1.455€</h4>
        </div>

        <h4 class="card-dimensions">Painting, W 80cm x H 80cm</h4>
        <h4 class="card-artist">by Xiaoyang Galas</h4>
      </div>
    </div>
  </div>

