  <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Coolart <i> makes art</i> accessible from your livingroom.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="#">Buy Art</a></li>
              <li><a href="/artists">Artist</a></li>
              <li><a href="#">Art Consutant</a></li>
              <li><a href="#">Career</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
         <a href="#">Coolart</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="www.facebook.com"><i class="fab fa-facebook"></i></a></li>
              <li><a class="twitter" href="www.twitter.com"><i class="fab fa-twitter"></i></a></li>
              <li><a class="dribbble" href="mailto:support@coolart.be?subject=Request%20for%20information%20-%20Coolart&body=Please%20if%20your%20information%20is%20about%20an%20order%2C%20thanks%20to%20provide%20the%20reference%20number"><i class="fas fa-at"></i></a></li>
              <li><a class="linkedin" href="www.linkedin.com"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</footer>

