<div class="account-collector">
  <div class="account-picture">

  </div>
  <div class="account-content">
    <h3 class="name"><%= current_user.first_name %> <%= current_user.last_name %></h3>
    <h4 class="title">@<%= current_user.username %></h4>
  </div>
  <div class="edit-btn">
    <%= link_to "Update details", edit_user_registration_path %>
  </div>
</div>
