<div class="row" style="position: relative;">
  <div class="col-12">
    <div class="card-container d-flex flex-wrap">
      <div class="p-2 d-flex flex-wrap align-content-start">
        <% @samples.each do |artwork| %>
          <%= render "artworks/card", artwork: artwork %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="mystyle">
  <%= link_to "Find my style", mystyle_path, class:"btn btn-success" %>
</div>
