<div class="home-banner">
  <h1>Coolart</h1>
</div>

<div class="container">
  <!-- insert category card here -->
  <div>
    <% @categories.each do |category| %>
      <%= category %>
    <% end %>
  </div>
</div>



<%= link_to 'Discover all our artists', artists_path, class:"btn" %>
