<div class="background-container">
  <div class="home-banner">
    <h1>Coolart</h1>
  </div>

  <div class="container d-flex">
    <!-- insert category card here -->

    <% @categories.each do |category| %>
      <div class="m-2">
        <%= link_to category.name, category_path(category.name)%>
      </div>
    <% end %>
  </div>

  <div class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus delectus animi maxime, provident dicta, tempora, voluptatem voluptate nobis molestias eaque soluta est ut consectetur dolore, necessitatibus earum reprehenderit illum laborum! Quisquam soluta quae rerum ipsum doloribus perferendis, explicabo repellat doloremque tenetur. In blanditiis necessitatibus amet pariatur, unde voluptatibus voluptas distinctio qui beatae, voluptates dolore optio culpa, eos quis sit facere tenetur earum omnis temporibus ea quidem accusantium ratione minima fuga. Sunt, quibusdam. Numquam doloribus voluptatem neque sint quas. Voluptas, sed asperiores esse sunt, vero minus, cum perspiciatis, illum saepe architecto neque corrupti dolores reprehenderit labore maiores dolor temporibus ullam corporis?
  </div>


  <%= link_to 'Discover all our artists', artists_path, class:"btn" %>
</div>
