<div class="row">
  <div class="col-12">
    <div class="card-container d-flex flex-wrap">
      <div class="p-2 d-flex flex-wrap align-content-start">
        <% current_user.account.favorite_artworks.each do |fav| %>
          <% fav.artwork.similar_items(n_results: 2).each do |artwork| %>
            <%= render "artworks/card", artwork: artwork %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
