<h1 class="text-center">Welcome <%= current_user.first_name %>!</h1>

<br>

<div class="d-flex">
<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" id="v-pills-account-tab" data-toggle="pill" href="#v-pills-account" role="tab" aria-controls="v-pills-account" aria-selected="true">My account</a>
    <a class="nav-link" id="v-pills-collection-tab" data-toggle="pill" href="#v-pills-collection" role="tab" aria-controls="v-pills-collection" aria-selected="false">My collection</a>
    <a class="nav-link" id="v-pills-orders-tab" data-toggle="pill" href="#v-pills-orders" role="tab" aria-controls="v-pills-orders" aria-selected="false">Orders</a>
</div>
<div class="tab-content mx-4" id="v-pills-tabContent">
  <div class="tab-pane fade show active" id="v-pills-account" role="tabpanel" aria-labelledby="v-pills-account-tab">
    <%= render "pages/collector_partials/my_account" %>
  </div>
  <div class="tab-pane fade" id="v-pills-collection" role="tabpanel" aria-labelledby="v-pills-collection-tab">
    <%= render "pages/collector_partials/my_collection" %>
  </div>
  <div class="tab-pane fade" id="v-pills-orders" role="tabpanel" aria-labelledby="v-pills-orders-tab">
    <%= render "pages/collector_partials/orders" %>
  </div>
</div>
</div>
