.artist-title h2 {
  text-align: center;
  padding: 10px 38px;
  font-size:35px;
  font-size:25px;
}

  .artist-nickname {
    text-align: center;
    color:black;
    h4 {
      text-align: center;
      font-weight:300;
    }
    h3 {
      text-align: center;
      font-weight:300;
    }
  }

.content-artiste {

    margin-left: -200px;
    margin-right: 0px;
}

  .artist-info {
    text-align: center;
    padding:10px 38px;
  }

  .card-item .artwork {
    box-shadow: 0px 0px 6px rgba(0,0,0,0.9);
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
  }

  .artist-profile-pic {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: cover;
    object-fit:cover;
  }

  .artist-info {
    background-color: transparent;
    margin-top:10px;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.18);
  }

  .artist-card {
    height: 303px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.18);
  }

  .follow-button {
  background-color: grey;
  border: none;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  }

  .border-artist {
    border-right: 2px dotted white;
    border-top: 2px dotted white;
  }

.pic-size {
width:90%
}


