.home-banner {
  position: relative;
  width: 100%;
  height: 500px;
  background: rgba(39,38,38,0.3);
  display: flex;
  align-items: center;
  padding: 25px;
}

h1 {
  font-size: 40px;
  color: white;
}

.logo-img {
  width: 400px;
  height: 400px;
  margin: 45px;
  margin-left: 70px;
}

.large {
  .carousel-background {
    min-height: 80vh;
    height: 80vh;
    background-size: cover;
  }

  .carousel-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
}
