.follow-button {
  border: 1px;
  background-color: rgba(196, 196, 196, 1);
  text-align: center;
  text-decoration:none;
  padding:15px;
  margin-top: 10px;
}



#follow-button {
  color: #3399FF;
  font-family: "Helvetica";
  font-size: 14pt;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #3399FF;
  border-radius: 3px;
  width: 110px;
  height: 30px;
  border-right: auto;
  border-left:auto;
  cursor: hand;
  margin-right: auto;
  margin-left: auto;
}
