.card-item {
  background-image: url("background_card.png");
  width:250px;
  padding: 25px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-wrapper {
  width: 250px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.18);

}

.image-wrap img{
  width:100%;
  object-fit:cover;
}

.card-item .artwork {
  box-shadow: 0px 0px 6px rgba(0,0,0,0.18);
  max-width: 90%;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

.card-info {
  padding: 10px;
}

.card-price {
  font-weight: bold;
  font-size: 14px;
  margin: 0 0 4px;
}

.card-artist {
  font-weight: bold;
  font-size: 14px;
  margin: 0 0 0 0;
}

.card-dimensions {
  font-size: 14px;
  opacity: 0.5
}

.artwork-title {
  font-size: 14px;
  margin: 0 0 4px;
}

.card-wrapper:hover {
  outline: 2px solid (#F9B194);
}

.card-item.heart {
  position: absolute;
  right: -5;
  bottom: -5;
}

.card-order {
  overflow: hidden;
  height: 120px;
  width: 500px;
  background: white;
  box-shadow: 0 2 4px rgba(0,0,0,0.18);
  display: flex;
  h1 {
    font-size: 30px;
  }
}

.order-picture {
  box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
  max-width: 90%;
  object-fit: contain;
}

.order-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
