.categories-banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-repeat: no-repeat;
  text-align: center;
  h1 {
    font-size: 40px;
    color: white;
  }
}

.categories-banner-title {
  position: relative;
  margin-left: 50px;
}
