.categories-banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-repeat: no-repeat;
  text-align: center;
}

.categories-banner-title {
  position: relative;
  margin-left: 50px;
}
