// ---------------GENERAL FONT-------------------

h1 {
  font-family: 'Montserrat', sans-serif;


}

h2{
font-family: 'Montserrat', sans-serif;
}

h3 {
font-family: 'Montserrat', sans-serif;
font-size: 16px;
}


h4{
font-family: 'Montserrat', sans-serif;
font-size:14px;
}


h5{
font-family: 'Montserrat', sans-serif;
}



// --------------SPECIAL RULES--------------------


