.navbar-logo {
  height: 65px;
  width: 65px;
  position: relative;
  display: flex;
}

.navbar-coolart {
  display:flex;
  background-color: transparent;
  transition: 0.5s background-color ease;
  justify-content: space-between;
  position:relative;
  padding-bottom: 16px;
}

.navbar-coolart .navbar-collapse {
  flex-grow: 0;
}

.navbar-coolart .navbar-brand img {
  width: 60px;
}

.navbar-coolart-white {
  background-color: rgba(255, 243, 226, 0);
}

.navbar-right {
  display:flex;
  align-item:right;
}

.btn-cont {
  text-align: center;
  font-family: 'Montserrat', sans-serif;;
.hp-btn {
}
  .btn {
    position: relative;
    color: transparent;
    border: 2px solid transparent;
    margin-right: 30px;
    margin-top: 10px;
    -webkit-font-smoothing: antialiased;
    &:hover {
      border: 2px solid transparent;
      .line-1 {
        animation: move1 1500ms infinite ease;
      }
      .line-2 {
        animation: move2 1500ms infinite ease;
      }
      .line-3 {
        animation: move3 1500ms infinite ease;
      }
      .line-4 {
        animation: move4 1500ms infinite ease;
      }
    }
  }
  .line-1 {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    background-color: yellow;
    left: 0;
    bottom: 0;
  }
  .line-2 {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    background-color: red;
    left: 0;
    top: 0;
  }
  .line-3 {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    background-color: blue;
    right: 0;
    top: 0;
  }
  .line-4 {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    background-color: red;
    right: 0;
    bottom: 0;
  }
}
@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}
@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
.btn-primary {
  color: transparent !important;
  &:hover {
    color: transparent !important;
  }
}

.dropdown-item {
  &:active{
    background-color: #D1D5F8;
  }
}
