  .search-title {
    padding-top: 25px;
    margin-bottom: 10px;
  }

  .form-filter {
    margin-top: 25px;
    width: 780px;
    height: 63px;
    display: flex;
    position: relative;
    justify-content: center;
    vertical-align: center;
    padding: 8px;
    background-color: #D1D5F8;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    border-radius: 3px;
    align-self: center;
  }

  .search-field {
    text-align: center;
    padding: 10px 15px;
    display: block;
    border-radius: 0px;
    border: none;
    font-size: 18px;
    width: 150px;
    margin: none;
    border-right: 3px solid #D1D5F8;
  }

  .drowpdown-search {
    text-align: center;
    padding: 10px 15px;
    display: block;
    border-radius: 0px;
    border: none;
    color: grey;
    font-size: 18px;
    padding-right: 30px;
    appearance: none;
    margin: none;
    border-right: 3px solid #D1D5F8;
  }

  .button-search {
    margin-left: 8px;
    color: #85889E;
  &:hover{
    transition: 0.3s;
    color: grey;
  }
}

  .fas .fa-search {
    color: white;
    font-size: 24px;
    margin-left: 16px;
  }

.drop-icon {
  position: relative;
}

.drop-icon i {
      position: absolute;
    height: 100%;
    top: 0;
    right: 15px;
    display: flex;
    align-items: center;
}
