.super-button {
  border: 3px solid white;
  border-radius: 3px;
  padding: 16px;
  color: white;
  font-size: 20px;
  font-weight: medium;
  margin: 16px;
  &:hover {
    transition: 0.3s;
    color: #D1D5F8;
    border-color: #D1D5F8;
    background: rgba(0, 0, 0, 0.2);
  }

}
