<div class="p-2 d-flex flex-wrap align-content-start">
  <% current_user.account.artworks.each do |artwork| %>
    <%= render "artworks/card", artwork: artwork %>
  <% end %>
</div>

<%= link_to "Add artwork", new_artist_artwork_path(current_user.account) %>
