<div class="container">
  <div class="d-flex ml-5 mt-4">
    <%= link_to "Add artwork", new_artist_artwork_path(current_user.account), class:"add-button" %>
  </div>
  <div class="p-2 d-flex flex-wrap align-content-start">
    <% current_user.account.artworks.each do |artwork| %>
      <%= render "artworks/card", artwork: artwork %>
    <% end %>
  </div>
</div>
