<% current_user.account.orders.each do |order| %>
  <div>
    <h1>order.artwork.name</h1>
    <h1>order.artwork.year</h1>
    <h1>order.artwork.price</h1>
    <h1>order.status</h1>
  </div>
<% end %>
