<div class="categories-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= image_path("#{@category.name.downcase}.png") %>')">
  <h1 class="categories-banner-title"> <%= @category.name %> </h1>
</div>

<div class="background-container">
  <div class="card-container d-flex flex-wrap">
    <% @category.artworks.each do |artwork| %>
      <%= render "artworks/card", artwork: artwork %>
    <% end %>
  </div>
</div>
