

<h1> <%= @category.name %> </h1>

<div class="card-container d-flex flex-wrap">
    <% @category.artworks.each do |artwork| %>
      <%= render "artworks/card", artwork: artwork %>
    <% end %>
  </div>
